<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Мой супер блог</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/style.css'%}">
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo__picture" src="{% static 'posts/logo.png'%}" alt="Логотип блога">
        <span class="logo__text">Блог</span>
      </div>
    </header>
    <main>
      <h1>Мой супер блог</h1>
      <div class="list">
        {% for post in posts %}
          <section class="list__item {% if post.is_paid %}list__item--paid{% endif %}">
            <h2>{{ post.name }}</h2>
            <p>{{ post.text }}</p>
          </section>
        {% endfor %}
      </div>
    </main>
    <footer>подвал</footer>
    <div class="banner" id="buy">
      СЛЫШ, КУПИ
    </div>
    <script src="{% static 'posts/script.js'%}"></script>
  </body>
</html>

