html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
}

header {
  background: red;
}

.logo{
  width: 100px;
  height: 50px;
  color: white;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__picture {
  height: 50%;
  margin-right: 5px;
}

main {
  background: orange;
  flex-grow: 1;
  padding: 1px 20px;
}

footer {
  background: green;
}

h1 {
  font-weight: 300
}

.list__item {
  border: 1px dashed #444;
  margin-bottom: 20px;
  padding: 0 20px;
}

.list__item--paid {
  border-color: white;
}

.banner {
  background: fuchsia;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 100px;
  transform: translate(-50%, -50%) scale(0) ;
  transition: all 0.5s ease;
  visibility: hidden;
}

.baner--visible {
  background: green;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1) ;
}